<ion-header>
  <ion-navbar>
    <ion-title left>
      .OneSpot
    </ion-title>
    <ion-buttons right>
      <button ion-button item-start clear icon-only color="light" (click)="search()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button item-start clear icon-only color="light" (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="headerBg">
  <ion-thumbnail>
    <img *ngIf="album_img" [src]="album_img">
    <img *ngIf="!album_img" src="assets/icon/inter.png">
  </ion-thumbnail>

  <img [src]="album_img" class="bg_player">
  <div class="content">

  <div class="audio-wrapper" #player_container href="javascript:;">
  <audio #player (timeupdate)="initProgressBar()">
    <source src="{{track.preview_url}}" type="audio/mp3">
  </audio>
  </div>
    <ion-range #seek_obj [max]="_length" [(ngModel)]="_prog_val" color="viol"></ion-range>
      <p class="descricao-artista_player" style="float: left; position: relative; left: 15px;">{{_start_time || '0:0'}}</p>
      <p class="descricao-artista_player" style="float: right; position: relative; right: 20px;">{{_end_time || '0:0'}}</p>
<ion-item>
    <button item-start ion-fab class="button-player-bg" icon-only #play_btn *ngIf="!isPlaying" (click)="togglePlay()"><ion-icon name="play"></ion-icon></button>
    <button item-start ion-fab class="button-player-bg" icon-only #play_btn *ngIf="isPlaying" (click)="togglePlay()"><ion-icon name="pause"></ion-icon></button>
  <ion-buttons>

    <button ion-button clear icon-only color="viol" (click)="repeatMusic()" *ngIf="!repeat"><ion-icon name="repeat"></ion-icon></button>
    <!-- não foi encontrado um icone semelhante ao repeat-off-->
    <button ion-button clear icon-only color="viol" (click)="repeatMusic()" *ngIf="repeat"><ion-icon name="return-right"></ion-icon></button>
  </ion-buttons>
    <ion-buttons item-end>
      <button ion-button clear icon-only color="light" (click)="shareMusic()"><ion-icon name="share"></ion-icon></button>
      <button ion-button clear icon-only color="light" (click)="toogleFavorite()" *ngIf="togglefav"><ion-icon name="heart"></ion-icon></button>
      <button ion-button clear icon-only color="light" (click)="toogleFavorite()" *ngIf="!togglefav"><ion-icon name="heart-outline"></ion-icon></button>
    </ion-buttons>
</ion-item>
    <ion-item>
      <h2 class="descricao-album_artist">{{ track.name }}</h2>
      <h5 class="descricao-album_artist">{{ album_name }}</h5>
      <p class="descricao-artista_player" *ngFor="let art of track.artists"> {{ art.name}}</p>
    </ion-item>
  </div>
</ion-content>
